/* fonts */

@font-face {
    font-family: 'text-black';
    src: url('../fonts/Nunito-Black.ttf');
}

@font-face {
    font-family: 'text-bold';
    src: url('../fonts/Nunito-Bold.ttf');
}

@font-face {
    font-family: 'text-extraBold';
    src: url('../fonts/Nunito-ExtraBold.ttf');
}

@font-face {
    font-family: 'text-light';
    src: url('../fonts/Nunito-Light.ttf');
}

@font-face {
    font-family: 'text-Medium';
    src: url('../fonts/Nunito-Medium.ttf');
}

@font-face {
    font-family: 'text-regular';
    src: url('../fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'text-semibold';
    src: url('../fonts/Nunito-SemiBold.ttf');
}


/* colour */
:root {
    --default-text: #262522;
    --text-highlight: #7B7874;
    --grey: #F5F4F1;
    --grey-highlight: #D8D8D5;
    --default-white: #FFFFFF;

    --green: #45BE93;
    --yellow: #FFCE49;
    --orange: #EE7B09;
    --red: #DB4B1E;
    --blue: #1C83E1;
    --purple: #814FF0;
}




/* default classes */

body {
    background-color: var(--grey);
    max-width: 390px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* headers */
.basicHeader {
    width: 100%;
    text-align: center;
    justify-content: center;
    font-family: text-semibold;

    border-bottom: 1px solid rgba(123, 120, 116, 0.1);
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;

    padding: 10px 16px 0px 16px;
}

.basicHeader p {
    font-family: text-bold;
    font-size: 20px;
    color: var(--default-text);
    margin-bottom: 5px;
}

.pageHeader {
    text-align: center;
    justify-content: center;
    font-family: text-semibold;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    justify-content: right;
}

.pageHeader p {
    padding-top: 40px;
    padding-bottom: 15px;
}

.pageHeading {
    display: flex;
    padding: 16px;
}

.pageHeading p {
    margin: 0px;
}

.pageHeading img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}





/* cards */

.basicCard {
    width: 100%;
    border-radius: 6px;
    display: flex;
    padding: 0px;
    align-items: stretch;
}





/* tab */
.pageTab {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-family: text-semibold;
    width: 100vw;
    margin-bottom: 16px;
}

.n-tabs-nav-scroll-wrapper{
    display: flex;
    justify-content: center;
}




/* forms */

.formLabel {
    font-family: 'text-regular';
    color: var(--text-highlight);
}

input[type=text],
input[type=password] {
    border: none;
    border-bottom: 0.45px solid var(--text-highlight);
    padding: 8px;
    background: transparent;
    outline: none;
    width: 100%
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-bottom-color: var(--text-highlight); /* Ensure the bottom border color on focus */
}

.formButton {
    width: 100%;
    font-family: text-medium;
    font-size: 15px;
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    border-radius: 6px;
    border: none;  
}





/* search and filter */
.search-bar {
    display: flex;
    align-items: center;
    width: 70%;
    border-radius: 6px;
    background-color: var(--default-white);
}

.search-bar i {
    font-size: 20px;
    color: var(--text-highlight);
    padding-left: 16px;
}

.search-bar input {
    flex-grow: 1;
    width: 100%;
    padding: 8px 12px;
    font-family: text-regular;
    font-size: 11px;
    color: var(--text-highlight);
    border-bottom: 0px;
}

.searchAndFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 16px;
    padding: 10px 0;
}

.filterButton {
    width: 30%;
}